*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 0.4rem;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #171717;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    color: #626262;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    height: 3px;
    border: none;
    border-radius: 10px;
    background-color: #FF4141;
    width: 80%;
}
.nav-login{
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-login button{
    padding: 0.4rem 1.3rem;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 16px;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
}
.nav-login button:active{
    background: #f3f3f3;
}
.nav-login img{
    height: 25px;
}
.icon-count{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: 13px;
    margin-top: -35px;
    margin-left: -45px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}