.newsLetter{
    width: 85%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:0 140px;
    padding-top: 5rem;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    gap: 30px;
}
.newsLetter h1{
    color:#454545 ;
    font-size: 45px;
    font-weight: 600;
}
.newsLetter p{
    color:#454545 ;
    font-size: 18px;
}
.newsLetter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 630px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsLetter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
}
.newsLetter div button{
    width: 120px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}